{% extends 'layout.html' %} 
{% load static %}
{% block title %} 
<title>Track</title>
<script>
    $('body').on("click", ".dropdown-menu", function (e) {
    $(this).parent().is(".open") && e.stopPropagation();
});

$('.selectall').click(function() {
    if ($(this).is(':checked')) {
        $('.option').prop('checked', true);
        var total = $('input[name="options[]"]:checked').length;
        $(".dropdown-text").html('(' + total + ') Selected');
        $(".select-text").html(' Deselect');
    } else {
        $('.option').prop('checked', false);
        $(".dropdown-text").html('(0) Selected');
        $(".select-text").html(' Select');
    }
});

$("input[type='checkbox'].justone").change(function(){
    var a = $("input[type='checkbox'].justone");
    if(a.length == a.filter(":checked").length){
        $('.selectall').prop('checked', true);
        $(".select-text").html(' Deselect');
    }
    else {
        $('.selectall').prop('checked', false);
        $(".select-text").html(' Select');
    }
  var total = $('input[name="options[]"]:checked').length;
  $(".dropdown-text").html('(' + total + ') Selected');
});
</script>
{% endblock %}
{% block body %}


<div class="container">
    <h1>Stock Tracker</h1>
<h3>Select Your Desired Stocks</h3>
<form class = "form-select form-select-lg mb-3" action="{% url 'selected_stocks' %}" method = "GET">
    <div class="container mt-5">
        <select id="mySelect" class="selectpicker" multiple data-live-search="true" name = "stockpicker">
            {% for i in stocks %}
            <option value="{{i}}">{{i}}</option>
            <!-- Add more options as needed -->
            {% endfor %}
          </select>
        
      
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}